<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>SingIn</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <!-- Add your site or application content here -->
  <h3>SingIn page</h3>

    <form action="/singin" method="POST">
    {% csrf_token %}    
        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="enter your username" required>
        <br>
        <label for="">password</label>
        <input type="password" id="pass1" name="pass1" placeholder="entrer your password" required>
        <br>
        <button type="submit">singin</button>
    </form>
  
</body>

</html>